# Logs
frontend\logs
*.log
frontend\npm-debug.log*
frontend\yarn-debug.log*
frontend\yarn-error.log*
frontend\pnpm-debug.log*
frontend\lerna-debug.log*


frontend\node_modules


dist
backend/__pycache__/
startgame.exe
backend/__pycache__/commands.cpython-312.pyc
backend/__pycache__/config.cpython-312.pyc
backend/__pycache__/jsontoon.cpython-312.pyc
backend/__pycache__/unit.cpython-312.pyc
backend/lib/GoldbergSteamEmu/ColdClientLoader.ini
lib/GoldbergSteamEmu/ColdClientLoader.ini
lib/SteamCmd/depotcache/
lib/SteamCmd/logs/
